# boolean indexing
suppose we have an array (names) and another array(data) and the names in the array corresponds to rows in array

In [1]:
import numpy as np

In [2]:
name = np.array(['barun','apurbha','barun','maskey','dristant','krishna'])

In [3]:
datas = np.random.randn(7,5) # generataes a random array of matrixes
datas

array([[-3.96551104e-01, -7.46706156e-01, -2.79308590e+00,
         1.02528647e-01,  9.04453834e-03],
       [ 2.83305655e-01, -1.39497701e+00, -4.29214516e-01,
        -1.49587584e+00,  7.14791396e-02],
       [-2.20115017e-01,  8.75364277e-01, -2.26257138e-01,
        -4.14824940e-01,  5.27408810e-01],
       [ 1.62290676e-01,  4.88515335e-01,  1.58608165e+00,
        -3.73263539e-01, -1.46561438e+00],
       [-1.13950532e+00, -1.28318848e+00, -1.15623545e+00,
         3.80930390e-01, -1.14784089e-03],
       [ 2.70323026e-01,  1.11261032e+00,  7.06750232e-01,
        -9.07270604e-01, -4.56306502e-01],
       [-1.44198979e+00,  8.55457009e-01,  2.20599876e-02,
         6.29360235e-01, -9.43164769e-01]])

In [5]:
datas[name == 'barun']

IndexError: boolean index did not match indexed array along dimension 0; dimension is 7 but corresponding boolean dimension is 6

In [6]:
name == 'barun' # returns an array of boolean
# these operations are vectorized..that is all of them are performed at a time ..no need of looping

array([ True, False,  True, False, False, False])

In [7]:
datas[~(name == 'barun')] #shows rows other than barun

IndexError: boolean index did not match indexed array along dimension 0; dimension is 7 but corresponding boolean dimension is 6

trying to make all the non negatives into zero

In [8]:
data = np.random.randn(6,6)
newData = data.copy()

data

array([[-0.41252235, -0.3813424 ,  0.36290038,  0.40197763, -0.38145965,
        -0.95354798],
       [-0.41769008, -1.32910418,  0.90596369,  0.42040961,  0.39773907,
        -0.19380076],
       [-0.5733574 ,  1.16185526,  0.10509993,  2.0391504 , -0.9448494 ,
         1.68263043],
       [ 1.59045333,  0.27633513, -0.07458871,  0.24098839,  0.21697867,
        -0.35971347],
       [-0.57142243, -1.44789565, -0.4660261 ,  1.89826745, -2.12508811,
         0.06776167],
       [-0.32687704, -0.00553624,  1.66800184,  0.27784064,  0.95999373,
        -2.97695578]])

In [9]:
data [data < 0] = 0
data

array([[0.        , 0.        , 0.36290038, 0.40197763, 0.        ,
        0.        ],
       [0.        , 0.        , 0.90596369, 0.42040961, 0.39773907,
        0.        ],
       [0.        , 1.16185526, 0.10509993, 2.0391504 , 0.        ,
        1.68263043],
       [1.59045333, 0.27633513, 0.        , 0.24098839, 0.21697867,
        0.        ],
       [0.        , 0.        , 0.        , 1.89826745, 0.        ,
        0.06776167],
       [0.        , 0.        , 1.66800184, 0.27784064, 0.95999373,
        0.        ]])

#fancy Indexing

In [10]:
fancyData = np.empty((8,3))
for x in range(8):
    fancyData [x] = x
fancyData

array([[0., 0., 0.],
       [1., 1., 1.],
       [2., 2., 2.],
       [3., 3., 3.],
       [4., 4., 4.],
       [5., 5., 5.],
       [6., 6., 6.],
       [7., 7., 7.]])

we can easilt select multiple rows using list of indexes....#fancy

In [ ]:
fancyData[[1,2,3]]

now a werid phenomenon

In [11]:
fancyData[[1,5,3],[2,0,1]]

array([1., 5., 3.])

(here we got the result of (1,2),(5,2),(3,2))

this is bit unsual because we wanted to print row 1 in order of 3,1,2
lets do that

In [12]:
newFancyData = np.arange(32).reshape(8,4) # here we used reshape to reshape a ndarray into new narray of different dimensions
newFancyData

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [13]:
newFancyData[[1,5,3],[2,0,1]] # same problem as previous

array([ 6, 20, 13])

In [ ]:
newFancyData[[1,5,3,2]][:,[3,2,0,1]]

another way of doing it is: using np.ix_() method

In [14]:
newFancyData[np.ix_([1,5,3,2],[3,2,0,1])]

array([[ 7,  6,  4,  5],
       [23, 22, 20, 21],
       [15, 14, 12, 13],
       [11, 10,  8,  9]])

#transposing a matrix

In [15]:
import numpy as np
newArray = np.arange(8).reshape(4,2)
newArray

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [16]:
newArray.transpose()

array([[0, 2, 4, 6],
       [1, 3, 5, 7]])

In [17]:
newArray.T

array([[0, 2, 4, 6],
       [1, 3, 5, 7]])