# Applying custom 1d fucntions to Series

In [1]:
import numpy as np
import pandas as pd

Another frequent operation is applying a function on 1D arrays to each column or row.
DataFrameâ€™s apply method does exactly this

In [3]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [4]:
frame

               b         d         e
Utah   -0.776266  0.447075 -0.410561
Ohio   -0.166899  0.534715  0.561186
Texas  -0.304399 -1.390439 -0.741927
Oregon  0.423407  1.027761 -0.053368

In [10]:
funx = lambda x: x.max()-x.min()

In [12]:
frame.apply(funx)

b    1.199673
d    2.418201
e    1.303113
dtype: float64

In [14]:
frame.apply(funx,axis=1)

Utah      1.223341
Ohio      0.728085
Texas     1.086041
Oregon    1.081129
dtype: float64

Many of the most common array statistics (like sum and mean ) are DataFrame methods,
so using apply is not necessary.

The function passed to apply need not return a scalar value, it can also return a Series
with multiple values:-

In [20]:
def funcky(x):
    return pd.Series([x.max(),x.min()],index=['max','min'])

In [23]:
frame.apply(funcky)

            b         d         e
max  0.423407  1.027761  0.561186
min -0.776266 -1.390439 -0.741927

In [24]:
frame.apply(funcky,1)

             max       min
Utah    0.447075 -0.776266
Ohio    0.561186 -0.166899
Texas  -0.304399 -1.390439
Oregon  1.027761 -0.053368

Element-wise Python functions can be used, too. Suppose you wanted to compute a
formatted string from each floating point value in frame . You can do this with applymap :

In [28]:
formating = lambda x: '%.3f' % x

In [29]:
frame.applymap(formating)

             b       d       e
Utah    -0.776   0.447  -0.411
Ohio    -0.167   0.535   0.561
Texas   -0.304  -1.390  -0.742
Oregon   0.423   1.028  -0.053

The reason for the name applymap is that Series has a map method for applying an ele-
ment-wise function