In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1= {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4,2]}
frame = pd.DataFrame(dict1)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.0

In [3]:
frame.values

array([['Ohio', 2000, 1.5],
       ['Ohio', 2001, 1.7],
       ['Ohio', 2002, 3.6],
       ['Nevada', 2001, 2.4],
       ['Nevada', 2002, 2.0]], dtype=object)

In [4]:
frame.index

RangeIndex(start=0, stop=5, step=1)

index objects are immutable

In [6]:
frame.index[0] = 'zero'

TypeError: Index does not support mutable operations

Immutability is important so that Index objects can be safely shared among data
structures

In addition to being array-like, an Index also functions as a fixed-size set

In [7]:
'pop' in frame.columns

True

In [8]:
0 in frame.index

True

One of the crusial functions available is reindex, which creates a dataframe with different index

In [9]:
frame2 = frame.reindex(['a','b','c','d','e'])
frame2

  state  year  pop
a   NaN   NaN  NaN
b   NaN   NaN  NaN
c   NaN   NaN  NaN
d   NaN   NaN  NaN
e   NaN   NaN  NaN

THIS HAPPENED BECAUSE REINDEX WORKS WITH SERIES

In [20]:
series1 = pd.Series([233,545,2323,423],index = np.arange(4))
series1

0     233
1     545
2    2323
3     423
dtype: int64

we can create a new series with different index

In [21]:
series2 = series1.reindex([2,1,0,3])

In [22]:
series2

2    2323
1     545
0     233
3     423
dtype: int64

hahaha nvm ithought it did one thing but it did anothe,well now you know

Lets check it in dataframe

In [24]:
frame3 = frame.reindex([2,3,0,1,4])
frame3

    state  year  pop
2    Ohio  2002  3.6
3  Nevada  2001  2.4
0    Ohio  2000  1.5
1    Ohio  2001  1.7
4  Nevada  2002  2.0

voila, it works haha

if we put index that is not original then it gives a Nan like we saw before...but we can fill it with our own value

In [26]:
frame1 = frame.reindex(np.arange(6),fill_value = 'Unknown')
frame1

     state     year      pop
0     Ohio     2000      1.5
1     Ohio     2001      1.7
2     Ohio     2002      3.6
3   Nevada     2001      2.4
4   Nevada     2002        2
5  Unknown  Unknown  Unknown

For ordered data like time series, it may be desirable to do some interpolation or filling
of values when reindexing. The method option allows us to do this, using a method such
as ffill which forward fills the values:

In [28]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

In [31]:
obj3.reindex(np.arange(6),method = 'ffill') #fills forward, it can also fill backward

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Here we hcve worked with only the left index, what about columnsss

we can change the columns with reindex(columns = )

In [32]:
frame.reindex(columns = ['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.0