# Dataframe

A DataFrame represents a tabular, spreadsheet-like data structure containing an or-
dered collection of columns, each of which can be a different value type. The DataFrame has both a row and column index; it can be thought of as a dict of Series.

Under the hood, the data is stored as one or more two-dimensional blocks rather
than a list, dict, or some other collection of one-dimensional arrays

one way of creating dataframe is using dict of lists

In [8]:
import pandas as pd
dict1= {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4,2]}

In [9]:
frame1 = pd.DataFrame(dict1)
frame1

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.0

here we can also assine the columns acoording to our own preferance

In [10]:
pd.DataFrame(dict1,columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.0

we can also give our own index

In [14]:
pd.DataFrame(dict1,columns=['year','state','pop'],index=['one ','two','three','four','five'])

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.0

retrieval can be either done by frame[''](dict like notaion) or frame.year

In [15]:
frame1['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [16]:
frame1.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [18]:
frame1.state[0] # to get the exact data

'Ohio'

iloc/ix is used to obtain row from certain index

In [23]:
frame1.iloc[3]

state    Nevada
year       2001
pop         2.4
Name: 3, dtype: object

we can easily add new values into the dataframe by a simple assignment operator

In [33]:
import numpy as np
frame1['new'] = np.arange(5)
frame1

    state  year  pop  new
0    Ohio  2000  1.5    0
1    Ohio  2001  1.7    1
2    Ohio  2002  3.6    2
3  Nevada  2001  2.4    3
4  Nevada  2002  2.0    4