# sorting and ranking

In [2]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],columns=['d', 'a', 'b', 'c'])

In [3]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [4]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [5]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

Sorting in descending order

In [6]:
frame.sort_index(1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

To sort a Series by its values, use its order method

In [7]:
seriesOne = pd.Series([23,323,12,21])

In [8]:
seriesOne

0     23
1    323
2     12
3     21
dtype: int64

In [12]:
seriesOne.sort_values()

2     12
3     21
0     23
1    323
dtype: int64

On DataFrame, you may want to sort by the values in one or more columns. To do so,
pass one or more column names to the by option

In [13]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [15]:
frame.sort_values(by='d',ascending=False)

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

# Ranking

In [17]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [18]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

rank breaks ties by assigning
each group the mean rank

Rank can also be given via the order they are seen in

In [20]:
obj.rank(method='first') # a simple te-breaking method

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

# Axis indexes with duplicate values

Sometimes we may have dublice axis values as such in the following series

In [23]:
seriesTwo = pd.Series(np.arange(5),index=['a','b','c','a','e'])

In [24]:
seriesTwo

a    0
b    1
c    2
a    3
e    4
dtype: int64

Here are two a

In [28]:
seriesTwo.index.is_unique # gives us value whether the index is unique or not

False

In [30]:
seriesTwo['a']

a    0
a    3
dtype: int64

The same is for series